<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.a.kotlin_library">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".demo2.base.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <!--        <activity android:name=".room2.MainActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->

        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
        <!--        <activity android:name=".demo1.MainActivity" />-->
        <activity
            android:name=".demo2.activity.other2.TestHomeMain"
            android:theme="@style/FullscreenThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--        <activity android:name=".demo2.activity.other.HomeChildActivity2" />-->
        <activity
            android:name=".demo2.activity.welcome.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenThem">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".demo2.activity.HomeActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".demo2.activity.other2.HomeChildActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".demo2.activity.other2.test2.RecyclerViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo2.activity.other2.test3.Test3Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo2.activity.other2.test4.Test4MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="${applicationId}.KtxInstaller"
            android:name="com.a.kotlin_library.demo2.provider.KtProvider"
            android:exported="false" />
    </application>


</manifest>
